* { 
    box-sizing: border-box; 
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

header, footer {
  background: blue;
  text-align: center;
  padding: 20px;
}


.banner img {
  width: 100%;
  height: 600px;
}


.middle img,
.bottom img {
  width: 100%;
  height: 300px;
}

.missing {
  background: red;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  height: 300px;
}

@media screen and (max-width: 700px) {

  .missing {
    display: none; 
  }

  [class*="col-"] {
    width: 100%;
  }

  .banner img {
    height: 300px;
  }
}
